.main-div {
    background: #ffffff none repeat scroll 0 0;
    border-radius: 2px;
    margin: 10px auto 30px;
    max-width: 400px;
    padding: 50px 70px 70px 71px;
   
  }
#sign-up-owner{
    padding-left: 0px;
  
}
 .login-form{
padding-left: 100px;
height: 20%;
 }
 #displayim{
     padding-left: 30px;
     padding-top:0px;
 }