#it1{
    width: 20%;
    font-size: 20px;
    font-family: "Lato", Roboto, Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: black
    
}
#it2{
    width: 20%;
    font-size: 20px;
    font-family: "Lato", Roboto, Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: black
    
}
#it3{
    width: 20%;
    font-size: 20px;
    font-family: "Lato", Roboto, Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: black
    
}



