.navbar-brand{padding-top:0px;padding-bottom:0px}
body{font-family:"Roboto",Arial,"Helvetica Neue",Helvetica,sans-serif;font-size:14px;line-height:20px;color:#353e44;background-color:#f4f4f4}
h1,.h1{font-size:40px;font-weight:300;font-family:"Roboto",Arial,sans-serif;color:#353e44}

.navbar{margin-bottom:0;background:#fff;padding:12px 0 10px 0}
.panel-dashboard .panel-heading{border-bottom:1px solid #dbdbdb;padding:20px 0;margin:0 20px;position:relative}
.panel-heading{padding:10px 15px;border-bottom:1px solid transparent;border-top-right-radius:3px;border-top-left-radius:3px;text-justify: auto}
.hidden{display:none!important;visibility:hidden!important}

 .brand img{max-height:50px;padding-top: 0px}
 .container-fluid{margin-right:auto;margin-left:auto;padding-left:15px;padding-right:15px}

 *{box-sizing:border-box}
 
#login-container{position:relative;z-index:100}

.NeedAccnt{padding-top: 10px;font-size: 18px}
.loginHeader{font-size:40px;font-weight:300;font-family:"Roboto",Arial,sans-serif;color:#353e44;line-height: 1.25}

.form-heading { color:#fff; font-size:23px;}
.panel{text-align: left}
.panel h2{ color:#444444; font-size:18px; margin:0 0 8px 0;}
.panel p { color:#777777; font-size:14px; margin-bottom:30px; line-height:24px;}
.panel label{font-family:"Roboto",Arial,sans-serif;color:#666;font-size:22px;font-weight:300;
}
.login-form .form-control {
  height:44px;padding:9px 14px;font-size:18px;line-height:1.33;border-radius:0}


.main-div {
  background: #ffffff none repeat scroll 0 0;
  border-radius: 2px;
  margin: 10px auto 30px;
  max-width: 56%;
  padding: 50px 70px 70px 71px;
}

.login-form .form-group {
  margin-bottom:15px;
}
.login-form{ text-align:center;}
.forgot a {
  color: #2a6ebb;
  font-size: 14px;
  
  font-family:"Roboto",Arial,"Helvetica Neue",Helvetica,sans-serif;
}
.login-form  .btn.btn-primary {
  background: rgb(255, 138,0) none repeat scroll 0 0;
  border-color: rgb(255, 138,0);
  border-radius: 0;
  font-family:"Roboto",Arial,"Helvetica Neue",Helvetica,sans-serif;
  color: #ffffff;
  font-size: 18px;
  
  width: 70%;
  height: 50px;
  line-height: 50px;
  padding: 0;
}
.btn-facebook{
    border-radius: 0;
    width: 75%;
  height: 40px;
  font-size:18px;
  
  
}
.social{
    padding-left: 100px;
    
}
.forgot {
  text-align: left; margin-bottom:30px;
}

.botto-text {
  color: #ffffff;
  font-size: 14px;
  margin: auto;
}
.login-form .btn.btn-primary.reset {
  background:rgb(255, 138,0) none repeat scroll 0 0;
  font-size: 18px;
  
}
.inline{
    padding-bottom: 14px;
}
td 
{
    padding:0 0px 0 0px;
    width: 45%;
}
.first
{
    padding:0 15px 0 2px;
    width: 45%;
}


  